* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f6f6f6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
}

/* Logo */
.navbar-logo {
  font-size: 20px;
  font-weight: bold;
}

/* Container untuk tombol */
.navbar-buttons {
  display: flex;
  gap: 10px; /* Hilangkan jarak antar tombol */
}

/* Tombol Navbar */
.navbar-button {
  padding: 10px 15px;
  font-size: 14px;
  color: white;
  background-color: #0056b3;
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Tambahkan transisi untuk efek halus */
}

.navbar-button:hover {
  background-color: #0056b3; /* Ubah warna latar belakang saat hover */
}

.list {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.list > * {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.list > *:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

login-form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
